.idea
node_modules

.cache
build
assets-storage/downloads/*
assets-storage/torrents/*

*.service
!*.example.service

*.conf
!*.example.conf

*.env
!.example.env
!.secret.example.env

!.gitkeep

demo.ts
